@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #6f00ff, #a033ff);
  color: white;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

a:hover {
  color: #d0b3ff;
}

.main-container {
  padding: 2rem;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 30rem; 
}

.logo {
  border-radius: 50%;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin: 0;
  padding-top: 5px; 
}


.nav-links {
  display: flex;
  gap: 1.5rem;
}

.footer {
  background-color: black;
  color: white;
  padding: 2rem;
  text-align: center;
  font-size: 0.95rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-top: 2px solid rgba(255, 255, 255, 0.08);
}

.contact-info {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
